@charset "utf-8";
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

section {
    position: relative;
    width: 100%;
    height: 140vh;
    background: url('../Images/about-me-background.jpg') no-repeat center;
    background-size: cover;
    border-color: black;

}

.content {
    text-align: right;
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}


.navbar a:hover {
    background-color: pink;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.column {
    flex: 1;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: black;
    transform: translateX(-50%);
}


figure {
    margin: 0;
    text-align: center;
}

figcaption {
    margin-top: 5px;
    color: purple;
    position: center;
}

.quote {
    margin-top: 0px;
    font-style: italic;
    padding-left: 10px;
}


.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.image-container img {
    max-width: 35%;
    height: 80%;
}

footer {
    background-color: orchid;
    padding: 20px;
    border-top: 2px solid #007bff;
    text-align: center;
}

footer h2 {
    color: #007bff;
}

.image-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.image-container2 img {
    max-width: 40%;
    height: 50%;
}
.quote blockquote {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #007bff;
    font-style: italic;
    background-color: #f9f9f9;
    color: #333;
}

@media (min-width: 480px){
    section {
        position: relative;
        width: 100%;
        height: 200vh;
        background: url('../Images/about-me-background.jpg') no-repeat center;
        background-size: cover;
        border-color: black;
    
    }
}


